.article-card-l {
  width: calc(50% - 15px);
  position: relative;
  /* margin-bottom: 30px; */
  height: 423px;
  background: #0D47A1;
}

.article-card-m {
  width: calc(33% - 20px);
  position: relative;
  margin-bottom: 30px;
  height: 350px;
  background: #0D47A1;
}

.article-card-s {
  width: calc(50% - 15px);
  position: relative;
  margin-bottom: 30px;
  height: 252px;
  background: #0D47A1;
}

.article-card-xs {
  width: calc(50% - 15px);
  position: relative;
  height: 138px;
}

.article-card__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.article-card__logo {
  position: absolute;
  margin: auto;
  width: 238px;
  top: 20%;
  left: 0;
  right: 0;
}

.article-preview {
  position: absolute;
  bottom: 0;
  padding: 12px;
  height: 110px;
  width: calc(100% - 24px);
  background: rgba(9, 53, 123, 0.9);
}

.article-preview-xs {
  position: absolute;
  bottom: 0;
  padding: 12px;
  height: 114px;
  width: calc(100% - 24px);
  background: #09357B;
}

.article-preview__title {
  margin: 0;
  color: white;
  line-height: 29px;
  letter-spacing: 0.07px;
  font-family: Georgia;
}

.article-preview__description {
  margin: 5px 0 0 0;
  color: white;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
}