.top-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.top-section__main-article {
  display: contents;
}

.top-section__wrapper {
  width: calc(50% - 15px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.top-section__container {
  display: contents;
}