.navbar {
  padding: 0 165px;
  background-color: #09357B;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.navbar__logo {
  padding-top: 31px;
  padding-bottom: 39px;
}

.navbar__search-button {
  background: #09357B;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid 3px#FFF;
  cursor: pointer;
  width: 90px;
  height: 35px;
}

.navbar__search-input {
  width: 252px;
  height: 44px;
  background: #2153A3;
  border: none;
  padding: 0 24px;
  color: #FFF;
  border-bottom: solid 3px#FFF;
}

.navbar__search-input::placeholder {
  color: #FFF;
}

.navbar__search-input:focus {
  outline: none;
}

@media only screen and (max-width: 1200px) {
  .navbar {
    padding: 0 80px;
  }
}
@media only screen and (max-width: 1024px) {
  .navbar {
    padding: 0 60px;
  }
  .navbar__search-input {
    width: 100px;
  }
}
@media only screen and (max-width: 768px ) {
  .navbar {
    padding: 0 40px;
  }
}
@media only screen and (max-width: 480px) {
  .navbar {
    padding: 0 20px;
  }
  .navbar__search-input {
    width: 70px;
  }
}